main {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bakgrund {
height: 400px;
width: 900px;
background-color: black;
display: grid;
justify-content: center;
}

.kortet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
}
.card {
height: 350px;
width: 200px;
background-color: wheat;
border-radius: 10px;
padding: 3px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
align-items: center;
justify-items: center;
}

.hearts {
    width: 30px;
    grid-area: 1/1;
}

.card .hearts:last-child {
grid-area: 5/5;
}

.bigheart {
    width: 40px;
    grid-area: 3/3;
}

.spades {
    width: 30px;
    grid-area: 1/1;
}

.bigspades {
    width: 40px;
    grid-area: 3/3;
}

.clubs {
    width: 30px;
    grid-area: 1/1;
}

.bigclubs {
    width: 40px;
    grid-area: 3/3;
}

.diamonds {
    width: 30px;
    grid-area: 1/1;
}

.bigdiamonds {
    width: 40px;
    grid-area: 3/3;
}