main {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bakgrund {
height: 400px;
width: 900px;
background-color: black;
display: grid;
justify-content: center;
}

.kortet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
}
.card {
height: 350px;
width: 200px;
background-color: wheat;
border-radius: 10px;
}

.hearts {
    width: 30px;
}

.bigheart {
    width: 40px;
}

.spades {
    width: 30px;
}

.bigspades {
    width: 40px;
}

.clubs {
    width: 30px;
}

.bigclubs {
    width: 40px;
}

.diamonds {
    width: 30px;
}

.bigdiamonds {
    width: 40px;
}